<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=mydbinstance.c6r0k7uwj2s9.us-west-1.rds.amazonaws.com,1433;initial catalog=LatinFlow; user id=BobbyOh;pwd=1ongbeach"/>
  </connectionStrings>
</configuration>